body {
  background-color: black;
}
div#board {
  position: relative;
  width: 1000px;
  height: 839px;
  margin: auto;
  background: url("board.jpg") no-repeat;
}

div#messageArea {
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 10px;
  color: rgb(83, 175, 19);
}
.hit {
  background: url("ship.png") no-repeat center center;
}
.miss {
  background: url("miss.png") no-repeat center center;
}
table {
  border-spacing: 0px;
  position: absolute;
  left: 173px;
  top: 98px;
}
td {
  width: 94px;
  height: 94px;
}
form {
  position: absolute;
  top: 35px;
  right: 0px;
  padding: 13px;
  background-color: rgb(175, 32, 19);
}
form input {
  background-color: rgb(147, 202, 101);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}
